.sortable {
    border: 1px solid rgb(196, 145, 145);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.sortable thead tr {
    background-color:  #886f2b;
    border: 1px solid rgb(211, 148, 148);
 
    text-align: center;
}

th a {
    text-transform: uppercase;
    color: rgb(197, 139, 139);
    cursor: pointer;
    text-decoration: none;
}

.sortable tbody tr {
    background-color: #8b6767;
    border: 1px solid rgb(158, 63, 63);
    
    text-align: center;
}

.asc-chevron,
.desc-chevron {
    display: none;
}

.ascending .asc-chevron,
.descending .desc-chevron {
    display: contents;
}
body{
    background-color: rgb(219, 149, 64);
    font-size: 20px;
    

  }