#london-wrapper, #windsor-wrapper{
    display: none;
    height: 500px;
}
.modal {
    padding: 15px;
    z-index: 1000;
    position:absolute;
}
.modal-content{
    max-width: 800px;
}
.modal-content img{
    max-width: 100%;
}
.modal-close{
    width: 80px;
    height: 22px;
    margin-top: 5px;
}